body {
width: 1000px;
font-family: "Josefin Sans";
background-color: rgb(249, 249, 247);
display: flex;
flex-direction: column;
margin-left: auto;
margin-right: auto;
min-height: 100%;
white-space: hidden;
}

html {
    height: 100%;
    white-space: hidden;
}
#header {
    height: 200px;
    background-image: url("https://images.pexels.com/photos/7727227/pexels-photo-7727227.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: rgb(2, 2, 2);
    background-color: white;
    display: inline-flexbox;
    text-align: center;

}
h1, h2, h3, h4, h5, h6, #footer {
    font-family: "Audiowide";
    letter-spacing: 3px;
    margin-bottom: 5px;
}
h4 {
    max-width: 300px;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-family: "Josefin Sans";
    margin-block-start: 0;
    margin-block-start: 0;
    margin-top: 10px;
    border: solid 3px black;
    width: 250px;
    text-align: center;
    color: white ;
    background-color: rgb(99, 92, 92);
    padding: 10px;
    
}

p:hover, a:hover{
    background-color: azure;
    color: black;
}

img {
    width: 300px;
    height: 200px;
    object-fit: fill;
    padding-bottom: 30px;

}

#Button {
    width: 300px;
    height: 35px;
    align-content: center;
    color: white;
    background-color: rgb(66, 59, 59);
    font-family: "Josefins Sans";
    

}

#Product-Row1, #Product-Row2 {
    display: grid;
    grid-template-columns: 1FR 1FR 1fr;
    vertical-align: top;
    padding-top: 70px;
    padding-bottom: 20px;
    margin-left: 3%;

}

#footer {
 margin-top: 150px;
 clear: both;
 color: rgb(249, 249, 249);
 text-shadow:5px 5px black;
 font-size: 30px;
 padding: 10%;
 background-image: url("https://thumbs.dreamstime.com/b/luxury-modern-car-black-background-copy-space-lot-grey-smoke-wheels-generative-ai-luxury-modern-car-305243431.jpg");
 background-size: cover;
 background-position: center;
}

#Grid-1-1:hover {
    opacity: .45;
    cursor: pointer;
    display: flex;
}#Grid-2-1:hover {
    opacity: .45;
    cursor: pointer;
    display: flex;
}#Grid-3-1:hover {
    opacity: .45;
    cursor: pointer;
    display: flex;
}#Grid-4-2:hover {
    opacity: .45;
    cursor: pointer;
    display: flex;
}#Grid-5-2:hover {
    opacity: .45;
    cursor: pointer;
    display: flex;
}#Grid-6-2:hover {
    opacity: .45;
    cursor: pointer;
    display: flex;
}
